* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: "Roboto", system-ui;
    color: #161616;
}

.control-panel {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 700px;

}

.control-panel .gravity-options {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.control-panel .gravity-options .option {
    width: 80px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid transparent;
    transition: .5s all;
    @media (max-width: 500px) {
        width: 40px;
        font-size: 12px;
      }
}

.control-panel .gravity-options .option.active {
    border: 2px solid #919191;
}

.control-panel .gravity-options .option img {
    width: 100%;
}

.control-panel .button-container{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #919191;
    display: flex;
    justify-content: space-around;
}

button{
    padding: 10px 30px;
    border: none;
    background-color: #ffb212;
    transition: .5s all;
    border-radius: 10px;
    @media (max-width: 500px) {
        padding: 10px 20px;
        font-size: 12px;
      }
}

button:hover{
    background-color: #ff7300;
}

.gravity-gauge{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #4e4c4c;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 30px;
    transition: all .5s;
    @media (max-width: 500px) {
        padding: 20px;
      }
}

.gravity-gauge span{
    font-size: 40px;
    font-weight: bolder;
    @media (max-width: 500px) {
        font-size: 30px;
    }
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}